<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bin.kong.proxy.dao.mapper.join.MockProxyJoinUserInfoMapper">
    <resultMap id="BaseResultMap" type="com.bin.kong.proxy.model.join.entity.MockProxyJoinUserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="response" property="response" jdbcType="VARCHAR"/>
        <result column="headers" property="headers" jdbcType="VARCHAR"/>
        <result column="is_used" property="is_used" jdbcType="INTEGER"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP"/>
        <result column="only_uri" property="only_uri" jdbcType="INTEGER"/>
        <result column="domain" property="domain" jdbcType="VARCHAR"/>
        <result column="port" property="port" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    mock.id id, mock.name name, mock.description description, mock.url url, mock.method method, mock.code code,mock.response response,
    mock.headers headers,mock.is_used is_used,mock.user_id user_id,mock.create_time create_time,mock.update_time update_time,mock.only_uri only_uri,
    mock.domain domain,user.id port
  </sql>

    <select id="searchList" resultMap="BaseResultMap"
            parameterType="com.bin.kong.proxy.model.mock.search.MockProxySearch">
        select
        <include refid="Base_Column_List"/>
        from mock_proxy mock
        left join user_info user
        on mock.user_id=user.id
        where 1=1
        <if test="kw != null and kw.length>0">
            and (mock.name like CONCAT('%',#{kw},'%') or mock.url like CONCAT('%',#{kw},'%'))
        </if>
        <if test="user_id != null">
            and mock.user_id=#{user_id}
        </if>
        order by id desc
        <if test="page != null and size !=null">
            limit #{startNum},#{size}
        </if>
    </select>

    <select id="searchCount" resultType="java.lang.Integer"
            parameterType="com.bin.kong.proxy.model.mock.search.MockProxySearch">
        select
        count(*)
        from mock_proxy mock
        left join user_info user
        on mock.user_id=user.id
        where 1=1
        <if test="kw != null and kw.length>0">
            and (mock.name like CONCAT('%',#{kw},'%') or mock.url like CONCAT('%',#{kw},'%'))
        </if>
        <if test="user_id != null">
            and mock.user_id=#{user_id}
        </if>
    </select>

</mapper>
