<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bin.kong.proxy.dao.mapper.mock.MockProxyMapper">
    <resultMap id="BaseResultMap" type="com.bin.kong.proxy.model.mock.entity.MockProxy">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="response" property="response" jdbcType="VARCHAR"/>
        <result column="headers" property="headers" jdbcType="VARCHAR"/>
        <result column="is_used" property="is_used" jdbcType="INTEGER"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="proxy_port" property="proxy_port" jdbcType="INTEGER"/>
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP"/>
        <result column="only_uri" property="only_uri" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, description, url, method, code,response,headers,is_used,user_id,proxy_port,create_time,update_time,only_uri
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from mock_proxy
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mock_proxy
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.bin.kong.proxy.model.mock.entity.MockProxy"
            useGeneratedKeys="true" keyProperty="id">
        insert into mock_proxy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="response != null">
                response,
            </if>
            <if test="headers != null">
                headers,
            </if>
            <if test="is_used != null">
                is_used,
            </if>
            <if test="user_id != null">
                user_id,
            </if>
            <if test="proxy_port != null">
                proxy_port,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
            <if test="only_uri != null">
                only_uri,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=INTEGER},
            </if>
            <if test="response != null">
                #{response,jdbcType=LONGVARCHAR},
            </if>
            <if test="headers != null">
                #{headers,jdbcType=LONGVARCHAR},
            </if>
            <if test="is_used != null">
                #{is_used,jdbcType=INTEGER},
            </if>
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="proxy_port != null">
                #{proxy_port,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="only_uri != null">
                #{only_uri,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bin.kong.proxy.model.mock.entity.MockProxy">
        update mock_proxy
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=INTEGER},
            </if>
            <if test="response != null">
                response = #{response,jdbcType=LONGVARCHAR},
            </if>
            <if test="headers != null">
                headers = #{headers,jdbcType=LONGVARCHAR},
            </if>
            <if test="is_used != null">
                is_used = #{is_used,jdbcType=INTEGER},
            </if>
            <if test="user_id != null">
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
            <if test="proxy_port != null">
                proxy_port = #{proxy_port,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="only_uri != null">
                only_uri = #{only_uri,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="searchList" resultMap="BaseResultMap"
            parameterType="com.bin.kong.proxy.model.mock.search.MockProxySearch">
        select
        <include refid="Base_Column_List"/>
        from mock_proxy
        where 1=1
        <if test="kw != null and kw.length>0">
            and (name like CONCAT('%',#{kw},'%') or url like CONCAT('%',#{kw},'%'))
        </if>
        order by id desc
        <if test="page != null and size !=null">
            limit #{startNum},#{size}
        </if>
    </select>

    <select id="searchCount" resultType="java.lang.Integer"
            parameterType="com.bin.kong.proxy.model.mock.search.MockProxySearch">
        select
        count(*)
        from mock_proxy
        where 1=1
        <if test="kw != null and kw.length>0">
            and (name like CONCAT('%',#{kw},'%') or url like CONCAT('%',#{kw},'%'))
        </if>
    </select>

</mapper>
