<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bin.kong.proxy.dao.mapper.proxy.ResponseDetailMapper">
    <resultMap id="BaseResultMap" type="com.bin.kong.proxy.model.proxy.entity.ResponseDetail">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="request_detail_id" property="request_detail_id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP"/>
        <result column="header" property="header" jdbcType="LONGVARCHAR"/>
        <result column="body" property="body" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, request_detail_id, code, create_time, update_time,header, body
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from proxy_response_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from proxy_response_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.bin.kong.proxy.model.proxy.entity.ResponseDetail">
        insert into proxy_response_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="request_detail_id != null">
                request_detail_id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
            <if test="header != null">
                header,
            </if>
            <if test="body != null">
                body,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="request_detail_id != null">
                #{request_detail_id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="header != null">
                #{header,jdbcType=LONGVARCHAR},
            </if>
            <if test="body != null">
                #{body,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.bin.kong.proxy.model.proxy.entity.ResponseDetail">
        update proxy_response_detail
        <set>
            <if test="request_detail_id != null">
                request_detail_id = #{request_detail_id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="header != null">
                header = #{header,jdbcType=LONGVARCHAR},
            </if>
            <if test="body != null">
                body = #{body,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectList" resultMap="BaseResultMap"
            parameterType="com.bin.kong.proxy.model.proxy.entity.ResponseDetail">
        select
        <include refid="Base_Column_List"/>
        from proxy_response_detail
        where 1=1
        <if test="request_detail_id != null and request_detail_id>0">
            and request_detail_id=#{request_detail_id}
        </if>
    </select>

</mapper>
